/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Circular Std', sans-serif;                         
}

   /* Breakpoint Large */

main {
    display: flex;
}

ul li {
    list-style-type: none;
}

main .menu {
    width: 220px;
    height: 92.7%;
    /* height: 686px; */
    background-color: red;
    padding: 0 7px;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu .menu-top .logo {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}

.logo img:first-child {
    width: 80%;
    height: 80%;
    display: inline;
    position: relative;
    left: -16px;
    margin-top: 5px;
}

.logo img:last-child {
    display: none;
}

.menu .menu-top .home {
    width: 100%;
    height: 110px;
    background-color: aquamarine;
}

.home ul li {
    line-height: 35px;
}

.home ul li a img {
    width: 30px;
    vertical-align: middle;
}

ul li a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

li a .home-effect {
    display: inline;
}

.menu .menu-top .playlist {
    width: 100%;
    padding-top: 15px;
    background-color: darkorange;
}

.playlist h4 {
    padding: 10px 0;
}

.create-playlist a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

.create-playlist a span {
    font-size: 35px;
    vertical-align: middle;
}

.playlist .list {
    width: 100%; 
    background-color: #4ee249;
}

.playlist .list ul li {
    line-height: 27px;
}

.menu .menu-bottom {
    background-color: rgb(69, 212, 212);
}

.menu-bottom .user {
    line-height: 30px;
    padding-top: 13px;
}

.menu-bottom .user .profile-photo{
    width: 28px;
    height: 28px;
    background-color: gray;
    background-image: url(../img/profile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    float: left;
}

.menu-bottom .user h4 {
    color: white;
    float: left;
    padding-left: 10px;
    display: inline;
}

.user:after {
    content: "";
    display: table;
    clear: both;
}

.menu-bottom .install {
    border-bottom: 1px solid white;
    padding-bottom: 7px;
}

.menu-bottom .install img {
    width: 18px;
    vertical-align: middle;
}

.menu-bottom .install a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    display: inline;
}

main .main-container {
    width: 100%;
    height: 685px;
    background-color: green;
    overflow: auto;
    margin-left: 220px;
}

.main-container .upgrade {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
}

.upgrade button {
    padding: 7px 30px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: black;
}

.upgrade button a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.main-container .type-movie {
    width: 100%;
    height: 50px;
    background-color: chocolate;
}

.main-container .row {
    width: 100%;
    height: 30%;
    background-color: #ff00cb;
    border-bottom: 3px solid black;
}

footer {
    width: 100%;
    height: 54px;
    background-color: blue;
    position: fixed;
    bottom: 0;
}

/* Breakpoint Medium */

@media screen and (min-width: 768px) {
}

/* Breakpoint Small */

@media screen and (min-width: 577px) {
}

/* Breakpoint X-small */

@media screen and (max-width: 576px) {
     /* Navigazione principale */
    main .menu {
        width: 55px;
        padding-left: 7px;
    }

    .menu .menu-top .logo {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .logo img:first-child {
        display: none;
    }
    
    .logo img:last-child {
        display: inline;
        width: 35px;

    }

    li a .home-effect {
        display: none;
    }

    .home ul li {
        text-align: center;
    }

    .menu .menu-top .playlist {
        display: none;
    }

    .menu-bottom .install {
        text-align: center;
        border-bottom: none;
    }

    .menu-bottom .install a {
        display: none;
    }

    .menu-bottom .user {
        padding-left: 6.5px;
    }

    .menu-bottom .user h4 {
        display: none;
    }

    
    





    main .main-container {
        width: 100%;
        height: 685px;
        background-color: green;
        overflow: auto;
        margin-left: 50px;
    }
}



