/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Circular Std', sans-serif;                         
}

/* Breakpoint Large */

main {
    display: flex;
}

main .menu {
    width: 220px;
    height: 665px;
    background-color: red;
    position: fixed;
    left: 0;
}

.menu .logo {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}

.menu .home {
    width: 100%;
    height: 110px;
    background-color: aquamarine;
}

.menu .playlist {
    width: 100%;
    height: 480px;
}

.menu .user {
    width: 100%;
    height: 45px;
    background-color: aqua;
}


main .main-container {
    width: 100%;
    height: 685px;
    background-color: green;
    overflow: auto;
    margin-left: 220px;
}

.main-container .upgrade {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
}

.main-container .type-movie {
    width: 100%;
    height: 50px;
    background-color: chocolate;
}

.main-container .row {
    width: 100%;
    height: 30%;
    background-color: #ff00cb;
    border-bottom: 3px solid black;
}

footer {
    width: 100%;
    height: 54px;
    background-color: blue;
}

/* Breakpoint Medium */

@media screen and (min-width: 768px) {
}

/* Breakpoint Small */

@media screen and (min-width: 577px) {
}

/* Breakpoint X-small */

@media screen and (max-width: 576px) {
    main .menu {
        width: 50px;
    }

    main .main-container {
        width: 100%;
        height: 685px;
        background-color: green;
        overflow: auto;
        margin-left: 50px;
    }
}



