/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Circular Std', sans-serif;                         
}

   /* Breakpoint Large */

main {
    display: flex;
}

main .menu {
    width: 220px;
    height: 685px;
    background-color: red;
    position: fixed;
    left: 0;
    padding-left: 7px;
}

.menu .logo {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}

.logo img:first-child {
    width: 80%;
    height: 80%;
    display: inline;
    position: relative;
    left: -16px;
    margin-top: 5px;
}

.logo img:last-child {
    display: none;
}

.menu .home {
    width: 100%;
    height: 110px;
    background-color: aquamarine;
}

.home ul li {
    line-height: 35px;
}

.home ul li a img {
    width: 30px;
    vertical-align: middle;
}

ul li a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.menu .playlist {
    width: 100%;
    height: 480px;
}

.playlist .playlist-top {
    padding-top: 15px;
}

.playlist-top h4 {
    padding: 10px 0;
}

ul li .create-playlist {
    font-size: 30px;
}

.menu .user {
    width: 100%;
    height: 45px;
    background-color: aqua;
}

main .main-container {
    width: 100%;
    height: 685px;
    background-color: green;
    overflow: auto;
    margin-left: 220px;
}

.main-container .upgrade {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
}

.main-container .type-movie {
    width: 100%;
    height: 50px;
    background-color: chocolate;
}

.main-container .row {
    width: 100%;
    height: 30%;
    background-color: #ff00cb;
    border-bottom: 3px solid black;
}

footer {
    width: 100%;
    height: 54px;
    background-color: blue;
}

/* Breakpoint Medium */

@media screen and (min-width: 768px) {
}

/* Breakpoint Small */

@media screen and (min-width: 577px) {
}

/* Breakpoint X-small */

@media screen and (max-width: 576px) {
     /* Navigazione principale */
    main .menu {
        width: 55px;
        padding-left: 0;
    }

    .menu .logo {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .logo img:first-child {
        display: none;
    }
    
    .logo img:last-child {
        display: inline;
        width: 35px;

    }





    main .main-container {
        width: 100%;
        height: 685px;
        background-color: green;
        overflow: auto;
        margin-left: 50px;
    }
}



